container_commands:
    01_migrate_all:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
        leader_only: true

    02_createsu:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py createsu"
        leader_only: true

    03_collectstatic:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
        leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "cloud_quest.settings"
    PYTHONPATH: "/opt/python/current/app/cloud_quest:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"

  aws:elasticbeanstalk:container:python:
    WSGIPath: cloud_quest.wsgi:application
    NumProcesses: 3
    NumThreads: 20

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    "/static": "static/"